{% extends "base.html" %}

{% block title %}List{% endblock %}

{% block users_active %}{% endblock %}
{% block comments_active %}active{% endblock %}
{% block content %}

{% if exists("user") %}
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#commentModal">
    Make comments
  </button>

  <!-- Modal -->
  <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="/form_add_comment">
          <div class="modal-header">
            <h5 class="modal-title" id="userModalLabel">Make comment</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
                <input type="hidden" class="form-control" id="username" name="username" value="{{user.username}}">
            </div>
            <div class="mb-3">
              <label for="musicname" class="form-label">Musicname</label>
              <input type="text" class="form-control" id="musicname" name="musicname" placeholder="Musicname">
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Content</label>
              <input type="text" class="form-control" id="content" name="content" placeholder="content">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}


<table class="table">
    <thead>
        <td>  
        <form action="/comments/searchs" method="post">
            <input type="text" name="searchs" id="searchs" placeholder="user Search">
            <button type="submit" class="btn btn-secondary">Search</button>
            <button type="submit" class="btn btn-primary" formaction="/comments">Reset</button>
            </form>
        </td>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Musicname</th>
        <th scope="col">content</th>
        <th scope="col">id</th>
      </tr>
    </thead>
    <tbody>
      {% for list in comments %}
      <form action="/comments" method="post">
        {% if exists("user") %}
          <input type="hidden" name="id" value="{{list.id}}">
        {% endif %}
        <tr style="vertical-align: middle;">
          <th scope="row">{{ loop.index1 }}</th>
          <td>{{ list.username }}</td>
          <td>{{ list.musicname }}</td>
          <td>{{ list.content }}</td>
          <td>{{list.id}}</td>
        {% if exists("user") %}
          {% if user.is_superuser==true %}
          <td><button class="btn btn-primary" type="submit" formaction="/dcomment">Delete</button></td>
          {% else %}
          <td><button class="btn btn-primary" type="button" disabled>No Permission</button> </td> 
          {% endif %}
        {% else %} 
        <td><button class="btn btn-primary" type="button" disabled>No Permission</button> </td> 
        {% endif %}
        
        </tr>
      </form>
      {% endfor %}
    </tbody>
  </table>
  
  {% if exists("pagination") %}
  <ul class="pagination">
    {% if existsIn(pagination, "previous") %}
    <li class="page-item">
      <a class="page-link" href="/list/{{ pagination.previous }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% if existsIn(pagination, "left_ellipsis") %}
    <li class="page-item"><a class="page-link" href="/list/1">1</a></li>
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    {% endif %}
    {% for page in pagination.pages_left %}
    <li class="page-item"><a class="page-link" href="/list/{{ page }}">{{ page }}</a></li>
    {% endfor %}
    <li class="page-item active" aria-current="page"><a class="page-link" href="/list/{{ pagination.current }}">{{
        pagination.current }}</a></li>
    {% for page in pagination.pages_right %}
    <li class="page-item"><a class="page-link" href="/list/{{ page }}">{{ page }}</a></li>
    {% endfor %}
    {% if existsIn(pagination, "right_ellipsis") %}
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    <li class="page-item"><a class="page-link" href="/list/{{ pagination.total }}">{{ pagination.total }}</a></li>
    {% endif %}
    {% if existsIn(pagination, "next") %}
    <li class="page-item">
      <a class="page-link" href="/list/{{ pagination.next }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
  {% endblock %}